@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Noto Sans", sans-serif;
}
body {
  font-size: 16px;
  min-height: 100vh;
  background: url(/suganya/public/Assets/images/backgroung_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  .container {
    max-width: 600px;
    height: 550px;
    margin: 120px auto;
    background: #143e42;
    padding: 20px 40px 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 10px solid rgb(39, 175, 175);
    .title {
      color: #f9f2ed;
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 40px;
      margin-top: 28px;
    }
    .input_form {
      .items {
        margin-bottom: 20px;
        .label {
          display: block;
          font-size: 1em;
          color: #f9f2ed;
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        .input {
          background: transparent;
          border: 2px solid #5f6c7d;
          width: 95%;
          padding: 10px;
          color: rgb(7, 251, 251);
          border-radius: 3px;
        }
      }
      .section_3 {
        display: flex;
        justify-content: space-between;
        .items {
          width: 100%;
        }
      }
    }
    .button {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .btn {
      border: 1px solid #5f6c7d;
      background: rgb(39, 175, 175);
      border: none;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      padding: 8px;
      width: 95%;
      cursor: pointer;
    }
  }
}

@media (max-width: 460px) {
  .wrapper {
    .container {
      height: 650px;
    }
  }
  .input_form {
    .items {
      margin-bottom: 15px;
    }
    .section_3 {
      flex-direction: column;
    }
  }
}
