* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
nav {
  background: #430541;

  display: grid;

  grid-template-columns: 30% 70%;

  min-height: 60px;

  .left-side {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
  }

  .right-side {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .all {
      position: relative;

      .all_para {
        width: 100px;
        top: 30px;
        position: absolute;
        background-color: #681165;
        display: none;
        li {
          color: white;
          border-bottom: 1px solid red;
          padding: 10px;
          list-style: none;
        }
      }
    }

    .all:hover .all_para {
      display: block;
    }

    p {
      color: white;
      cursor: pointer;
      padding: 4px;
    }
  }
}
.btn {
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  transition: ease-out 0.5s;
  &:hover {
    background-color: red;
  }
}

@media (max-width: 1080px) {
  nav {
    .right-side {
      display: none;

      a {
        margin: 20px;
      }
    }
  }
}
