@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=El+Messiri&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.jewellery_icon {
  .headphone_round {
    position: fixed;
    right: 25px;
    bottom: 45px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(187, 183, 183);
    font-size: 22px;
    width: 65px;
    height: 65px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    z-index: 1000;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50px;
    }
  }
}

.header_one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px;
  border-bottom: 1px solid #aacccf;
  background-color: #143e42;
  color: #fff;

  @media (max-width: 1370px) {
    width: 100%;
  }
  .open_bar {
    display: none;

    @media (max-width: 1070px) {
      display: block;
    }
  }

  .header_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    @media (max-width: 600px) {
      gap: 10px;
      font-size: 15px;
    }
    @media (max-width: 380px) {
      font-size: 13px;
      gap: 2px;
    }

    .close_bar {
      display: none;
    }

    .dark-mode {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      cursor: pointer;
    }
    #color_red {
      background: #c135c2;
      cursor: pointer;
    }
    #color_green {
      background: #29a193;
      cursor: pointer;
    }
    #color_yellow {
      background: #2bff88;
      cursor: pointer;
    }
    .clr_palette {
      cursor: pointer;
      i {
        color: #fff;
      }
    }
    .theme_changer {
      display: none;
      button {
        border: none;
        width: 20px;
        height: 20px;
        border-radius: 20px;
      }
    }
  }

  .header_center {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 30px;
      font-weight: 500;
      font-family: "El Messiri", sans-serif;

      @media (max-width: 600px) {
        font-size: 20px;
      }
      @media (max-width: 335px) {
        font-size: 16px;
      }
    }
  }

  .header_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    @media (max-width: 600px) {
      gap: 15px;
      font-size: 15px;
    }
    @media (max-width: 380px) {
      font-size: 14px;
      gap: 10px;
    }
    i {
      color: #fff;
    }
  }
}
.navbar_two {
  background: #598e93;
  color: white;

  .header_two {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 20px;

    @media (max-width: 1070px) {
      display: none;
      background: #163234;
      color: #fff;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
    }
    .close_bar {
      display: none;
      border: 1px solid #fff;

      width: 17px;
      height: 23px;
      margin-bottom: 20px;

      @media (max-width: 1070px) {
        display: block;
      }
    }

    .jewellery {
      p {
        a {
          color: white;
          text-decoration: none;
          @media (max-width: 1070px) {
            font-size: 22px;
            margin-left: -7px;
          }
          @media (max-width: 400px) {
            font-size: 16px;
          }
        }
      }
    }

    .gold {
      cursor: pointer;
      padding: 5px;
      @media (max-width: 1070px) {
        padding: 0;
      }

      p {
        position: relative;
        @media (max-width: 1070px) {
          margin-top: 20px;
          margin-left: -8px;
          font-size: 22px;
        }
        @media (max-width: 400px) {
          font-size: 16px;
        }
        i {
          font-size: 15px;
          margin-left: 5px;
          transition: all 0.3s ease;
          &:hover {
            transform: rotate(180deg);
          }
        }
      }

      .gold_jewellery {
        position: absolute;
        left: 0;
        top: 130px;
        padding: 1em;
        width: 100%;
        background: #cae7ea;
        color: black;
        display: none;
        transition: 0.3s;
        list-style: none;
        line-height: 40px;
        transition: all 0.5s;
        z-index: 100;
        cursor: pointer;

        .golds {
          border-right: 1px solid white;
          margin-right: 100px;

          img {
            width: 200px;
            height: 200px;
          }
        }

        h3 {
          width: 85%;
          margin: auto;
        }
        .drop_down_img {
          margin-left: 55px;
          margin-top: 30px;
          @media (max-width: 330px) {
            margin-left: 15px;
          }
          img {
            width: 200px;
            height: 200px;
            margin-left: 1em;
          }
        }
      }
    }

    .gold p::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      height: 1px;
      background: white;
      transition: 0.4s ease-out;
    }

    .gold p:hover::after {
      left: 0;
      width: 100%;
    }

    .gold:hover .gold_jewellery {
      display: grid;
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  padding: 15px;

  input {
    padding: 10px;
    width: 50%;
    outline: none;
    border: none;
    background: #d5eff1;
  }
  .sear_icon {
    i {
      background: #143e42;
      color: white;
      margin-top: 2px;
      margin-left: 4px;
      border: 1px solid black;
      border: none;
      padding: 8px;
      cursor: pointer;
    }
  }
}

.front_image {
  img {
    width: 100%;
  }
  @media (max-width: 1070px) {
    margin-top: 40px;
  }
}

.heading {
  font-size: 28px;
  padding: 40px;
  text-align: center;
  @media (max-width: 600px) {
    padding: 15px;
  }
  h3 {
    font-size: 40px;
    font-family: "El Messiri", sans-serif;
    @media (max-width: 600px) {
      font-size: 30px;
    }
  }
}
.jewellery_icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 50px;
  justify-items: center;
  @media (max-width: 950px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
  @media (max-width: 635px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 340px) {
    grid-template-columns: 1fr;
  }
  .image_icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    @media (max-width: 950px) {
      margin-bottom: 30px;
    }
    img {
      border: 1px solid black;
      width: 100px;
      border-radius: 30px;
      background: #163234;
      height: 100px;
    }
    .para {
      p {
        font-size: 18px;
        margin-top: 5px;
        font-family: "Cairo", sans-serif;
      }
    }
  }
}
.video {
  margin-top: 50px;
  width: 100%;

  @media (max-width: 900px) {
    margin-top: 20px;
  }
}

.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  cursor: pointer;
  @media (max-width: 1170px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  .card {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: black;
    position: relative;
    gap: 10px;
    margin-top: 50px;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(black, 0.5);
    transform: perspective(400px) rotate(0deg);
    transition: all 0.5s ease 0s;
    &:hover {
      transform: perspective(400px) rotateY(15deg);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
  }
}

.design {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 500px) {
    padding: 15px;
  }
  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
  }

  .design_img {
    img {
      width: 80%;
    }
  }
  .design_para {
    margin-top: 110px;
    @media (max-width: 1400px) {
      margin-top: 50px;
    }
    @media (max-width: 1240px) {
      margin-top: 10px;
    }
    h3 {
      font-size: 30px;
      font-family: "El Messiri", sans-serif;
    }
    p {
      font-size: 18px;
      line-height: 35px;
      margin-top: 30px;
      font-weight: 400;
      font-family: "Cairo", sans-serif;
    }
  }
}

.hands_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #d4e9ec;
  width: 100%;
  height: 40vh;
  @media (max-width: 400px) {
    height: 50vh;
  }
  .hands_logo {
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 8px;
    i {
      font-size: 45px;
      color: #143e42;
      margin-top: 5px;
    }
  }
  .hands_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    h2 {
      color: #163234;
      letter-spacing: 2px;
      font-family: "El Messiri", sans-serif;
    }
    p {
      font-family: "Cairo", sans-serif;
      font-size: 20px;
      letter-spacing: 1px;
      color: #000;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
  }
  .jewellery_video {
    width: 80%;
    @media (max-width: 900px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .jewellery_para {
    margin-top: 5px;
    font-size: 21px;
    h2 {
      margin-bottom: 15px;
      font-family: "El Messiri", sans-serif;
    }
    p {
      line-height: 28px;
      font-size: 20px;
      font-weight: 400;
      font-family: "Cairo", sans-serif;
    }
  }
}

.review {
  margin-top: 80px;

  h1 {
    font-size: 38px;
    text-align: center;
    @media (max-width: 400px) {
      font-size: 25px;
    }
    @media (max-width: 900px) {
      margin-bottom: 40px;
    }
  }
  .review_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    @media (max-width: 900px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .box {
      text-align: center;
      padding: 3rem 2rem;
      @media (max-width: 900px) {
        padding: 5px;
      }
      p {
        font-size: 18px;
        line-height: 1.8;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
      .user {
        margin-top: 20px;
        margin-bottom: 15px;
        height: 7rem;
        width: 7rem;
        border: 2px solid #163234;
        border-radius: 50%;
        object-fit: cover;
      }
      h2 {
        font-size: 23px;
      }
      .stars {
        i {
          color: rgb(245, 179, 14);
          font-size: 24px;
          margin-top: 15px;
        }
      }
    }
  }
}

footer {
  background: #143e42;
  .footer-details {
    padding: 50px;
    .footer_content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-bottom: 0.5px solid #fff;
      @media (max-width: 900px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      ul {
        list-style: none;
        li {
          color: #fff;
          h2 {
            text-transform: uppercase;
            padding: 30px 0;
          }
          i {
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
          text-transform: capitalize;
          padding: 10px 0;
        }
      }
    }
    .footer_end {
      text-align: center;
      p {
        margin: 20px 0;
        color: #fff;
      }
    }
  }
}

.lightmode {
  background-color: #000;
  color: white;
}
