* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  background: #143e42;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  min-height: 60px;
}

nav .left-side {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}

nav .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .right-side a {
  color: white;
  text-decoration: none;
}

nav .right-side .all {
  position: relative;
}

nav .right-side .all .all_para {
  width: 100px;
  top: 30px;
  position: absolute;
  background-color: #681165;
  display: none;
}

nav .right-side .all .all_para li {
  color: white;
  border-bottom: 1px solid red;
  padding: 10px;
  list-style: none;
}

nav .right-side .all:hover .all_para {
  display: block;
}

nav .right-side p {
  color: white;
  cursor: pointer;
  padding: 4px;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.btn:hover {
  background-color: red;
}

.front_image {
  margin-top: 80px;
}

.front_image img {
  width: 100%;
}

.card_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card_container .card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: black;
  position: relative;
  gap: 10px;
  margin-top: 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: perspective(400px) rotate(0deg);
          transform: perspective(400px) rotate(0deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.card_container .card:hover {
  -webkit-transform: perspective(400px) rotateY(15deg);
          transform: perspective(400px) rotateY(15deg);
}

.card_container .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

footer {
  background: #143e42;
}

footer .footer-details {
  padding: 50px;
}

footer .footer-details .footer_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  border-bottom: 0.5px solid #fff;
}

@media (max-width: 800px) {
  footer .footer-details .footer_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

footer .footer-details .footer_content ul {
  list-style: none;
}

footer .footer-details .footer_content ul li {
  color: #fff;
  text-transform: capitalize;
  padding: 10px 0;
}

footer .footer-details .footer_content ul li h2 {
  text-transform: uppercase;
  padding: 30px 0;
}

footer .footer-details .footer_content ul li i {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

footer .footer-details .footer_end {
  text-align: center;
}

footer .footer-details .footer_end p {
  margin: 20px 0;
  color: #fff;
}
/*# sourceMappingURL=home.css.map */