* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.productid {
  padding: 20px;
  width: 50%;
  margin: 0px auto 0;
  @media (max-width: 900px) {
    width: 100%;
  }

  .card {
    text-align: center;
    img {
      width: 80%;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      cursor: pointer;
    }
    .category {
      color: #143e42;
      font-size: 35px;
      margin-bottom: 30px;
    }
    .title {
      margin-top: 15px;
    }
    .description {
      color: #143e42;
      font-size: 22px;
      margin-top: 20px;
    }
    .cart {
      width: 100px;
      margin-top: 20px;
      padding: 10px;
      background: #143e42;
      border-radius: 5px;
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background: #277076;
      }
    }
    .buy {
      width: 100px;
      margin-top: 20px;
      padding: 10px;
      background: #143e42;
      border-radius: 5px;
      margin-left: 8px;
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background: #277076;
      }
    }
    .price {
      margin-top: 20px;
    }
  }
}
