* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #d0af80;
}

.checkout-container {
  width: 60%;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 100px;
}

.checkout-container h2 {
  font-size: 36px;
  margin-bottom: 2.5rem;
  font-weight: 500;
  opacity: 0.8;
}

.checkout-container .checkout-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.checkout-container .checkout-form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.checkout-container .checkout-form .container label {
  font-size: 16px;
  color: grey;
  margin-bottom: 0.5rem;
}

.checkout-container .checkout-form .container input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.checkout-container .checkout-form .container input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  color: #b9b9b9;
}

.checkout-container .checkout-form .container input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
  color: #b9b9b9;
}

.checkout-container .checkout-form .container input[type="text"]::-ms-input-placeholder {
  font-size: 14px;
  color: #b9b9b9;
}

.checkout-container .checkout-form .container input[type="text"]::placeholder {
  font-size: 14px;
  color: #b9b9b9;
}

.checkout-container .checkout-form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.checkout-container .checkout-form .input-container .container {
  width: 45%;
}

.checkout-container .checkout-form input[type="button"] {
  background-color: #b9b9b9;
  color: white;
  font-weight: 500;
  height: 40px;
  font-size: 18px;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.checkout-container .checkout-form input[type="button"]:hover {
  background-color: grey;
}
/*# sourceMappingURL=checkout.css.map */