* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;


}

body{
    background-color: #d0af80;
}

.checkout-container {
    width: 60%;
    margin-top: 6rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;


    h2 {
        font-size: 36px;
        margin-bottom: 2.5rem;
        font-weight: 500;
        opacity: 0.8;
    }

    .checkout-form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 2rem;
        width: 100%;






        .container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 2rem;
            width: 100%;

            label {
                font-size: 16px;
                color: grey;
                margin-bottom: 0.5rem;

            }

            input[type="text"] {

                width: 100%;
                height: 40px;
                padding: 0 10px;
                background-color: #f2f2f2;
                border-radius: 5px;
                border: none;
                font-size: 18px;

            }

            input[type="text"]::placeholder {


                font-size: 14px;
                color: #b9b9b9;

            }






        }

        .input-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;


            .container{
                width: 45%;
            }
        }

       input[type="button"]{
           background-color: #b9b9b9;
           color: white;
           font-weight: 500;
           height: 40px;
           font-size: 18px;
           padding: 0 30px;
           border: none;
           border-radius: 5px;
           cursor: pointer;
           margin-right: 20px;

        }
        input[type="button"]:hover{
          background-color: grey;
        }






    }


}