* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  --white: white;
  --background-color: #f5f0e9;
  --main-theme: #d49a4e;
  --main-theme-two:#cd9449;
  --black: #000000;
  --light-main-theme: #EEC373;
  --mid-color: #ba8d39;
  --border-bottom:rgb(230, 228, 228);
  --sec:#fff;
}

body.dark {
  --white: black;
  --background-color: #000000;
  --main-theme: #d49a4e;
  --black: #fff;
  --light-main-theme: #000000;
  --mid-color: #7F7C82;
  --sec:grey;
  --light-main-theme: white;
}

section {
  border-bottom: 2px solid var(--border-bottom);
  padding-bottom: 10px;
  background-color: var(--background-color);
  position: relative;
}

i {
  color: var(--main-theme);
}

p {
  color: var(--main-theme-two);
}

a {
  color: var(--light-main-theme);
}

.topbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
}

.topbar .top-left-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}

.topbar .top-left-location .hamburger {
  display: none;
  font-size: 25px;
}

.topbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .logo img {
  width: 90px;
  height: 70px;
}

.topbar .top-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .top-right-list .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .top-right-list .search .search-bar {
  position: absolute;
  display: none;
  top: 50px;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 100;
}

.topbar .top-right-list .search .search-bar input {
  height: 20px;
  padding-left: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px #888888;
          box-shadow: 0px 0px 20px 0px #888888;
}

.topbar .top-right-list .search .search-bar button {
  border-radius: 50%;
}

.topbar .top-right-list .search .search-bar button i {
  font-size: 10px;
}

.topbar .top-right-list .search:hover .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar i {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.topbar i span {
  font-size: 12px;
  margin-left: 6px;
  font-weight: 400;
}

.sec-topbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.sec-topbar .sec-topbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 100%;
}

.sec-topbar .sec-topbar-left .buttonX {
  display: none;
}

.sec-topbar .sec-topbar-left a {
  color: var(--black);
}

.sec-topbar .sec-topbar-left .new-product p {
  position: relative;
}

.sec-topbar .sec-topbar-left .new-product .whats-new {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  top: 20px;
  position: absolute;
  margin: auto;
  left: 0;
  width: 100%;
  top: 98px;
  background-color: var(--white);
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 1em;
  line-height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sec-topbar .sec-topbar-left .new-product .whats-new a {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-topbar .sec-topbar-left .new-product .whats-new h3 {
  width: 80%;
  margin: auto;
}

.sec-topbar .sec-topbar-left .new-product .whats-new img {
  width: 80%;
}

.sec-topbar .sec-topbar-left .new-product p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: var(--black);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.sec-topbar .sec-topbar-left .new-product p:hover::after {
  left: 0;
  width: 100%;
}

.sec-topbar .sec-topbar-left .new-product:hover .whats-new {
  display: -ms-grid;
  display: grid;
}

.sec-topbar .sec-topbar-left .whats-new:hover .new-product p::after {
  left: 0;
  width: 100%;
}

.sec-topbar .sec-topbar-left .all-product p {
  position: relative;
}

.sec-topbar .sec-topbar-left .all-product .product-list {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  top: 20px;
  position: absolute;
  margin: auto;
  left: 0;
  width: 100%;
  top: 98px;
  background-color: var(--white);
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 1em;
  line-height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sec-topbar .sec-topbar-left .all-product .product-list a {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-topbar .sec-topbar-left .all-product .product-list h3 {
  width: 80%;
  margin: auto;
}

.sec-topbar .sec-topbar-left .all-product .product-list img {
  width: 80%;
}

.sec-topbar .sec-topbar-left .all-product p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: var(--black);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.sec-topbar .sec-topbar-left .all-product p:hover::after {
  left: 0;
  width: 100%;
}

.sec-topbar .sec-topbar-left .all-product:hover .product-list {
  display: -ms-grid;
  display: grid;
}

.sec-topbar .sec-topbar-left .antique-product p {
  position: relative;
}

.sec-topbar .sec-topbar-left .antique-product .antiq-list {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  top: 20px;
  position: absolute;
  margin: auto;
  left: 0;
  width: 100%;
  top: 98px;
  background-color: var(--white);
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 1em;
  line-height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sec-topbar .sec-topbar-left .antique-product .antiq-list a {
  padding-left: 50px;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-topbar .sec-topbar-left .antique-product .antiq-list h3 {
  width: 80%;
  margin: auto;
}

.sec-topbar .sec-topbar-left .antique-product .antiq-list img {
  width: 80%;
}

.sec-topbar .sec-topbar-left .antique-product p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: var(--black);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.sec-topbar .sec-topbar-left .antique-product p:hover::after {
  left: 0;
  width: 100%;
}

.sec-topbar .sec-topbar-left .antique-product:hover .antiq-list {
  display: -ms-grid;
  display: grid;
}

.sec-topbar .sec-topbar-left .wedding p {
  position: relative;
}

.sec-topbar .sec-topbar-left .wedding .wedding-product {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 20px;
  position: absolute;
  margin: auto;
  left: 0;
  width: 100%;
  top: 98px;
  background-color: var(--white);
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 1em;
  line-height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sec-topbar .sec-topbar-left .wedding .wedding-product a {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-topbar .sec-topbar-left .wedding .wedding-product h3 {
  width: 80%;
  margin: auto;
}

.sec-topbar .sec-topbar-left .wedding .wedding-product img {
  width: 80%;
}

.sec-topbar .sec-topbar-left .wedding p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: var(--black);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.sec-topbar .sec-topbar-left .wedding p:hover::after {
  left: 0;
  width: 100%;
}

.sec-topbar .sec-topbar-left .wedding:hover .wedding-product {
  display: -ms-grid;
  display: grid;
}

.sec-topbar .sec-topbar-left .about p {
  position: relative;
}

.sec-topbar .sec-topbar-left .about .about-us {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  top: 20px;
  position: absolute;
  margin: auto;
  left: 0;
  width: 100%;
  top: 98px;
  background-color: var(--white);
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 1em;
  line-height: 40px;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: auto;
}

.sec-topbar .sec-topbar-left .about .about-us a {
  width: 80%;
  margin: auto;
}

.sec-topbar .sec-topbar-left .about .about-us h3 {
  width: 80%;
  margin: auto;
}

.sec-topbar .sec-topbar-left .about .about-us img {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.sec-topbar .sec-topbar-left .about p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: var(--black);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.sec-topbar .sec-topbar-left .about p:hover::after {
  left: 0;
  width: 100%;
}

.sec-topbar .sec-topbar-left .about:hover .about-us {
  display: -ms-grid;
  display: grid;
}

.sec-topbar .sec-topbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.sec-topbar .sec-topbar-right .review {
  border-right: 1px solid var(--black);
  padding-right: 20px;
}

.sec-topbar a:hover {
  color: var(--main-theme);
}

.mission {
  width: 100%;
  height: 50vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-color: var(--sec);
}

.mission h3 {
  font-size: 18px;
  letter-spacing: 10px;
}

.mission p {
  font-size: 30px;
  width: 50%;
}

.background {
  text-align: center;
}

.background img {
  width: 100%;
  place-items: center;
}

.wish-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--background-color);
  width: 100%;
  height: 40vh;
  gap: 40px;
}

.wish-container i {
  font-size: 30px;
}

.wish-container .wish-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.wish-container .wish-text h2 {
  color: var(--black);
}

footer {
  background-color: var(--sec);
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  height: 50vh;
  margin: auto;
  place-items: center;
}

.footer-container .section-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-container .section-1 h6 {
  font-size: 17px;
  margin-bottom: 10px;
}

.footer-container .section-1 p {
  font-size: 13px;
  margin-bottom: 20px;
}

.footer-container .section-1 .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-container .section-2 {
  line-height: 2em;
}

.footer-container .section-2 p {
  font-size: 13px;
}

.footer-container .section-3 {
  line-height: 2em;
}

.footer-container .section-3 p {
  font-size: 13px;
}

.footer-container .section-4 {
  line-height: 2em;
}

.footer-container .section-4 input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--main-theme);
  width: 100%;
  color: var(--black);
}

.footer-container .section-4 button {
  border: none;
  outline: none;
  background: none;
  padding: 5px;
  background-color: #EEC373;
}

.footer-container .section-4 h6 {
  font-size: 17px;
}

.footer-container .section-4 p {
  font-size: 13px;
}

.collection-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: var(--white);
}

.collection-list .list-img img {
  width: 100%;
}

.collection-list .list-details {
  width: 80%;
  margin: auto;
  line-height: 2em;
}

.collection-list .list-details h6 {
  margin-bottom: 20px;
  color: var(--black);
}

.collection-list .list-details h3 {
  margin-bottom: 20px;
  color: var(--black);
}

.collection-list .list-details p {
  font-size: 13px;
}

.design {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: var(--sec);
}

.design .design-details {
  width: 80%;
  margin: auto;
  line-height: 2em;
}

.design .design-details h6 {
  margin-bottom: 20px;
  color: var(--black);
}

.design .design-details h3 {
  margin-bottom: 20px;
  color: var(--black);
}

.design .design-details p {
  font-size: 13px;
}

.design .design-img img {
  width: 100%;
  height: auto;
}

@media (max-width: 960px) {
  .topbar {
    width: 100%;
  }
  .topbar .top-left-location .location {
    display: none;
  }
  .topbar .top-left-location .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--main-theme);
  }
  .topbar .logo img {
    width: 60px;
    height: 50px;
  }
  .sec-topbar {
    width: 100%;
    display: none;
  }
  .collection-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .design {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
  .footer-container .section-2 {
    text-align: center;
  }
  .footer-container .section-3 {
    text-align: center;
  }
}

@media (max-width: 960px) and (max-width: 700px) {
  .sec-topbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: var(--background-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    margin-top: 10px;
  }
  .sec-topbar button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    border: none;
    background: none;
    font-size: 25px;
  }
  .sec-topbar .sec-topbar-left {
    display: block;
    cursor: pointer;
    width: 100%;
  }
  .sec-topbar .sec-topbar-left p {
    margin-bottom: 10px;
  }
  .sec-topbar .sec-topbar-left .new-product p {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .sec-topbar .sec-topbar-left .new-product .whats-new {
    top: 20px;
    margin: auto;
    left: 0;
    width: 100%;
    top: 88px;
    background-color: #ae73b1;
    display: none;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 1em;
    line-height: 40px;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 101;
  }
  .sec-topbar .sec-topbar-left .new-product .whats-new li {
    width: 100%;
    margin: auto;
  }
  .sec-topbar .sec-topbar-left .new-product .whats-new h3 {
    width: 100%;
    margin: auto;
  }
  .sec-topbar .sec-topbar-left .new-product p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: black;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  .sec-topbar .sec-topbar-left .new-product p:hover::after {
    left: 0;
  }
  .sec-topbar .sec-topbar-left .new-product p:hover .whats-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sec-topbar .sec-topbar-right {
    display: none;
  }
  .sec-topbar .sec-topbar-right p {
    margin-bottom: 10px;
  }
  .sec-topbar .sec-topbar-right .review {
    border-right: none;
    padding-right: 0;
  }
}

@media (max-width: 560px) {
  .mission p {
    font-size: 20px;
  }
}
/*# sourceMappingURL=landing-page.css.map */