@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Tenor+Sans&display=swap");
:root {
  --background: #fff;
  --color: $black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Tenor Sans", sans-serif;
  background-color: var(--background);
}

.header {
  background-image: url(../Public/Assets/images/home/footer/footer_bg.png);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-right: 10px;
  align-items: center;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
}
@media (max-width: 900px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.header .menu-bar {
  display: none;
}
@media (max-width: 900px) {
  .header .menu-bar {
    display: block;
    padding-left: 30px;
    font-size: 30px;
    color: #fdd017;
  }
}
.header .logo-left img {
  width: 150px;
}
.header .logo-middle {
  align-items: center;
}
.header .logo-middle .navbar .close-nav-menu {
  display: none;
}
.header .logo-middle .navbar ul {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  list-style: none;
  text-align: center;
  color: red;
}
.header .logo-middle .navbar ul li {
  position: relative;
  font-size: 0.9rem;
  padding: 10px 0;
}
.header .logo-middle .navbar ul li:hover .drop {
  display: block;
}
.header .logo-middle .navbar ul li a {
  text-decoration: none;
  color: #fdd017;
  position: relative;
  text-decoration: none;
  font-size: 15px;
  margin-right: 5px;
  text-transform: capitalize;
}
.header .logo-middle .navbar ul li a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: #fff;
  display: block;
  transition: 0.5s ease-in-out;
}
.header .logo-middle .navbar ul li a:hover:after {
  background-color: #fdd017;
  margin-top: 10px;
  width: 100%;
}
.header .logo-right {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.header .logo-right .mode-changer {
  font-size: 24px;
  color: #fdd017;
}
.header .logo-right .icon-search {
  float: right;
  position: relative;
  font-size: 24px;
  color: #fdd017;
  z-index: 100;
}
.header .logo-right .icon-search i {
  transition: all ease 0.5s;
}
.header .logo-right .icon-search .fa-times {
  color: #fff;
}
.header .logo-right .search-form {
  position: absolute;
  background-color: #000;
  opacity: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}
.header .logo-right .search-form input {
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 100px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 24px;
  color: #fff;
  outline: none;
}
.header .logo-right .search-form .search-bx2 {
  padding-left: 20px;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 85px;
  background-color: #fff;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 600px) {
  .header .logo-right .search-form .search-bx2 {
    display: block;
  }
}
.header .logo-right .search-form .search-bx2 a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .logo-right .search-form .search-bx2 a img {
  width: 20%;
  margin: 20px 0;
}
.header .logo-right .search-form .search-bx2 a .content2 {
  text-transform: capitalize;
  display: block;
}
.header .logo-right .search-form .search-bx2 a .content2 h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 23px;
}
.header .logo-right .search-form .search-bx2 a .content2 p {
  padding-top: 20px;
}
.header .logo-right .color-switcher {
  position: relative;
}
.header .logo-right .color-switcher .switcher-btn {
  top: 0;
  color: #fdd017;
  font-size: 24px;
}
.header .logo-right .color-switcher .theme-button-container {
  position: absolute;
  top: 35px;
  display: flex;
  justify-content: center;
  background-image: url(../Public/Assets/images/home/footer/footer_bg.png);
  right: -100px;
  display: none;
}
.header .logo-right .color-switcher .theme-button-container .theme-buttons {
  display: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.header .logo-right .cart .cart-icon {
  display: flex;
}
.header .logo-right .cart .cart-icon i {
  color: #fdd017;
  font-size: 24px;
}
.header .logo-right .cart .cart-navbar {
  position: fixed;
  width: 50%;
  height: 100%;
  background-image: url(../Public/Assets/images/home/footer/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  overflow-y: auto;
}
@media (max-width: 930px) {
  .header .logo-right .cart .cart-navbar {
    width: 70%;
  }
}
@media (max-width: 720px) {
  .header .logo-right .cart .cart-navbar {
    width: 85%;
  }
}
@media (max-width: 520px) {
  .header .logo-right .cart .cart-navbar {
    width: 100%;
  }
}
.header .logo-right .cart .cart-navbar .close-cart-menu {
  position: fixed;
  background-image: url(../Public/Assets/images/home/footer/footer_bg.png);
  width: 50%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-items: flex-start;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}
@media (max-width: 930px) {
  .header .logo-right .cart .cart-navbar .close-cart-menu {
    width: 70%;
  }
}
@media (max-width: 720px) {
  .header .logo-right .cart .cart-navbar .close-cart-menu {
    width: 85%;
  }
}
@media (max-width: 520px) {
  .header .logo-right .cart .cart-navbar .close-cart-menu {
    width: 100%;
  }
}
.header .logo-right .cart .cart-navbar .close-cart-menu i {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}
.header .logo-right .cart .cart-navbar .cart-product {
  overflow-y: auto;
  margin-top: 6rem;
}
.header .logo-right .cart .cart-navbar .cart-product .card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
}
.header .logo-right .cart .cart-navbar .cart-product .card .image img {
  margin-left: 5px;
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .logo-right .cart .cart-navbar .cart-product .card .content {
  display: block;
}
.header .logo-right .cart .cart-navbar .cart-product .card .content .title {
  color: #fff;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.header .logo-right .cart .cart-navbar .cart-product .card .content .button-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 0 0;
}
@media (max-width: 445px) {
  .header .logo-right .cart .cart-navbar .cart-product .card .content .button-content {
    display: block;
    padding-top: 10px;
  }
}
.header .logo-right .cart .cart-navbar .cart-product .card .content .button-content .price {
  color: #fff;
}
@media (max-width: 445px) {
  .header .logo-right .cart .cart-navbar .cart-product .card .content .button-content .price {
    padding-bottom: 10px;
  }
}
.header .logo-right .cart .cart-navbar .cart-product .card .content .button-content button {
  padding: 5px 20px;
  gap: 1px;
  margin-right: 5px;
}
.header .logo-right .button i {
  color: #fdd017;
  font-size: 24px;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

.front-story {
  margin-top: 6.6rem;
}
.front-story .window-image {
  margin: 20px 0;
}
.front-story .window-image img {
  width: 100%;
}

.video h1 {
  font-family: "Domine", serif;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 30px;
}
.video .flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .video .flex {
    display: block;
  }
}
.video .flex .flex-first video {
  margin-top: 20px;
  width: 100%;
}
.video .flex .flex-last img {
  width: 100%;
}

.wide-collection h1 {
  font-family: "Domine", serif;
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
}
.wide-collection .collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
@media (max-width: 800px) {
  .wide-collection .collection {
    display: block;
  }
}
.wide-collection .collection .grid-first {
  display: block;
}
.wide-collection .collection .grid-first a {
  text-decoration: none;
}
.wide-collection .collection .grid-first .first-card {
  background-image: url(../Public/Assets/images/home/collection/bib-jwell.webp);
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 55vh;
}
.wide-collection .collection .grid-first .first-card .info {
  padding-top: 70px;
  text-transform: uppercase;
  text-align: center;
}
.wide-collection .collection .grid-first .first-card .info h2 {
  margin-top: 60px;
  font-size: 50px;
  color: #fff;
}
.wide-collection .collection .grid-first .second-card {
  background-image: url(../Public/Assets/images/home/collection/pendent.webp);
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.wide-collection .collection .grid-first .second-card .info {
  padding-top: 70px;
  text-transform: uppercase;
  text-align: center;
}
.wide-collection .collection .grid-first .second-card .info h2 {
  margin-top: 60px;
  font-size: 50px;
  color: #fff;
}
.wide-collection .collection .grid-middle {
  display: grid;
  align-items: center;
}
.wide-collection .collection .grid-middle a {
  text-decoration: none;
}
.wide-collection .collection .grid-middle .third-card {
  background-image: url(../Public/Assets/images/home/collection/locketj.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.wide-collection .collection .grid-middle .third-card .info {
  padding-top: 70px;
  text-transform: uppercase;
  text-align: center;
}
.wide-collection .collection .grid-middle .third-card .info h2 {
  margin-top: 60px;
  font-size: 50px;
  color: #fff;
}
.wide-collection .collection .grid-last {
  display: block;
}
.wide-collection .collection .grid-last a {
  text-decoration: none;
}
.wide-collection .collection .grid-last .fourth-card {
  background-image: url(../Public/Assets/images/home/collection/lariat.png);
  background-size: cover;
  height: 55vh;
  background-position: center;
}
.wide-collection .collection .grid-last .fourth-card .info {
  padding-top: 70px;
  text-transform: uppercase;
  text-align: center;
}
.wide-collection .collection .grid-last .fourth-card .info h2 {
  margin-top: 60px;
  font-size: 50px;
  color: #fff;
}
.wide-collection .collection .grid-last .fivth-card {
  background-image: url(../Public/Assets/images/home/collection/chocker.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.wide-collection .collection .grid-last .fivth-card .info {
  padding-top: 70px;
  text-transform: uppercase;
  text-align: center;
}
.wide-collection .collection .grid-last .fivth-card .info h2 {
  margin-top: 60px;
  font-size: 50px;
  color: #fff;
}

.second-story .turn {
  margin: 50px 0;
}
.second-story .turn img {
  width: 100%;
}

.h1 {
  font-family: "Domine", serif;
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}

.stones {
  display: flex;
  justify-content: space-around;
}
.stones a {
  text-decoration: none;
}
@media (max-width: 900px) {
  .stones {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    row-gap: 10px;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .stones {
    display: grid;
    grid-template-columns: repeat(1, 0.1fr);
    row-gap: 10px;
    justify-content: center;
  }
}
.stones h1 {
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
}
.stones .stone {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: #fff;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.stones .stone:hover {
  transform: translateY(20px);
}
.stones .stone:hover:before {
  opacity: 1;
}
.stones .stone:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.stones .stone:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.stones .stone img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.stones .stone .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.metals h1 {
  text-align: center;
  padding: 50px;
}

.metal-material {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  justify-items: center;
}
@media (max-width: 1010px) {
  .metal-material {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 700px) {
  .metal-material {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (max-width: 400px) {
  .metal-material {
    padding: 0;
  }
}

.metals-materials {
  background-color: #fff;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.metals-materials *,
.metals-materials *:before,
.metals-materials *:after {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.metals-materials img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  max-width: 100%;
  min-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

.metals-materials:before,
.metals-materials:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #800000;
  opacity: 0.5;
  transition: all 0.45s ease;
}

.metals-materials:before {
  transform: skew(30deg) translateX(80%);
}

.metals-materials:after {
  transform: skew(-30deg) translateX(70%);
}

.metals-materials figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 20px 20px 20px 40%;
}

.metals-materials figcaption:before,
.metals-materials figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #800000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: "";
  opacity: 0.5;
  z-index: -1;
}

.metals-materials figcaption:before {
  transform: skew(30deg) translateX(100%);
}

.metals-materials figcaption:after {
  transform: skew(-30deg) translateX(90%);
}

.metals-materials h3 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.metals-materials h3 {
  font-family: "Teko", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 90px;
}

.metals-materials a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.metals-materials:hover h3,
.metals-materials.hover h3 {
  transform: translateY(0);
  opacity: 0.9;
}

.metals-materials:hover:before,
.metals-materials.hover:before {
  transform: skew(30deg) translateX(30%);
  transition-delay: 0.05s;
}

.metals-materials:hover:after,
.metals-materials.hover:after {
  transform: skew(-30deg) translateX(20%);
}

.metals-materials:hover figcaption:before,
.metals-materials.hover figcaption:before {
  transform: skew(30deg) translateX(50%);
  transition-delay: 0.15s;
}

.metals-materials:hover figcaption:after,
.metals-materials.hover figcaption:after {
  transform: skew(-30deg) translateX(40%);
  transition-delay: 0.1s;
}

.trust-safe {
  text-align: center;
  margin-bottom: 50px;
}
.trust-safe h1 {
  font-family: "Domine", serif;
  font-size: 30px;
  padding: 50px 0 10px;
}
.trust-safe p {
  margin: 20px;
}
.trust-safe .trust-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 600px) {
  .trust-safe .trust-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .trust-safe .trust-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.trust-safe .trust-inner .inner {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.review h1 {
  font-family: "Domine", serif;
  font-size: 30px;
  text-align: center;
}
.review .box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
@media (max-width: 800px) {
  .review .box-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.review .box-container .box {
  text-align: center;
  padding: 3rem 2rem;
}
@media (max-width: 800px) {
  .review .box-container .box {
    padding: 5px;
  }
}
.review .box-container .box p {
  font-size: 20px;
  line-height: 1.8;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.review .box-container .box .user {
  margin-top: 20px;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review .box-container .box h3 {
  font-size: 2rem;
  text-transform: uppercase;
}
.review .box-container .box .stars i {
  font-size: 20px;
}

footer {
  background-image: url(../Public/Assets/images/home/footer/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-details {
  padding: 50px;
}
footer .footer-details .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 0.5px solid #fff;
}
@media (max-width: 800px) {
  footer .footer-details .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
footer .footer-details .content ul {
  list-style: none;
}
footer .footer-details .content ul li {
  color: #fff;
  text-transform: capitalize;
  padding: 10px 0;
}
footer .footer-details .content ul li h2 {
  text-transform: uppercase;
  padding: 30px 0;
}
footer .footer-details .content ul li i {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
footer .footer-details .copy-right {
  text-align: center;
}
footer .footer-details .copy-right p {
  margin: 20px 0;
  color: #fff;
}

@media (max-width: 900px) {
  .header .logo-middle {
    display: none;
  }
  .header .logo-middle .navbar {
    color: #fff;
    position: fixed;
    left: 0;
    z-index: 1000;
    width: 70%;
    height: 100%;
    top: 0;
    background: url(../Public/Assets/images/home/footer/footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 900px) and (max-width: 550px) {
  .header .logo-middle .navbar {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .header .logo-middle .navbar .close-nav-menu {
    display: block;
  }
  .header .logo-middle .navbar .close-nav-menu i {
    padding: 40px 40px 0;
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  .header .logo-middle .navbar ul {
    position: absolute;
    list-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
  }
}
@media (max-width: 900px) and (max-width: 390px) {
  .header .logo-middle .navbar ul {
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  .header .logo-middle .navbar ul li {
    padding: 25px;
    margin: 15px 0;
    -webkit-animation: slideup 1.2s ease-in;
            animation: slideup 1.2s ease-in;
    transition: all;
  }
  @-webkit-keyframes slideup {
    100% {
      transform: translateY(-530px);
    }
  }
  @keyframes slideup {
    100% {
      transform: translateY(-530px);
    }
  }
  .header .logo-middle .navbar ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
  }
  .header .logo-middle .navbar ul li a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin-top: -10px;
    background: #fdd017;
    transform: scaleY(0);
    border-radius: 50px;
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .header .logo-middle .navbar ul li a:hover:after {
    transform: scaleY(1);
    margin-top: -10px;
  }
  .header .logo-middle .navbar ul li a:hover {
    color: #000;
  }
}/*# sourceMappingURL=home.css.map */